.advantages {


  background-color: #f2f2f2;
  position: relative;

  &::after {/*псевдоэлемнет для треугольника*/
    content: "";
    position: absolute;

    left: 0;
    right: 0;
    top: -35px; /*высота треугольника */
    bottom: 0; /*700*/

    /*background-image: url(../../img/bg-triangle-white.svg);
      transform: rotate(180deg);/*переворачиваем треугоьник*/
    /*background-repeat: no-repeat;*/
    /*width: 305px;*/

    transform: rotateY(-180deg);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 35px 0 0 305px;
    border-color: transparent transparent transparent #f2f2f2;
    line-height: 0;
  }

  &__list {


    padding-left: 0;
    padding-right: 0;
    padding-top: 40px;
  }


  &__item {

    margin-bottom: 40px;
    text-align: center;
    margin-right: 0;
  }


  &__item img {
    display: none;
  }


  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 24px;
  }

  &__description {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    color: #283645;
  }


  &__image {
    margin: 0 auto;/*центруем телефон*/
    margin-bottom: 0;
    width: 153px;/*рмерв картинки*/
    height: 280px;
  }
}


@media (min-width: @tablet-width) {/*>660px*/


  .advantages {/*флексбокс*/  /*ширину не задаем*/

    max-width: 660px;


    display: flex;
    justify-content: center;/*space-between*/
  }


  .advantages__list {/*флекс элемент*/
    /*width: 293px;*/

    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 42px;
    padding-right: 0;

    order: 1;/*для смены места телефона и списка*/

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;/*тоже самое чтои  width*/
  }


  .advantages__item {
    text-align: left;
  }

  .advantages__item img {
    text-align: left;
    display: none;
  }

  .advantages__image {/*флекс элемент*/

    width: 268px;/*размеры картинки*/
    height: auto;

    margin: 0;
    order: -1;

    margin-top: -20px;/*чтобы телефон поднялся вверх*/

    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;/*тоже самое чтои  width*/
  }


  .advantages__phone {
    display: block;
    width: 268px;
    height: 547px;
    margin-left: 0;
    margin-right: 0;
  }
}


@media (min-width: @desktop-width) {
  /*>1200*/

  .advantages {
    max-width: 1200px; /*если экран будет больше, то будет центроваться*/

    padding-left: 130px;
    padding-right: 130px;
    margin: 0 auto;
  }


  .advantages__list {/*флексбокс*/

    width: 940px;
    /*940 = 1200-130(гориз. паддинги)*2 */

    display: flex;
    flex-direction: row;
    justify-content: space-between;/*space-between*/
    /*расстояние между телеофнами по 20 px*/
    flex-wrap: nowrap;
    /*margin: 0 auto;*/
  }


  .advantages__item {


    margin: 0 auto;
    margin-bottom: 56px;
  }


  .advantages__item img {
    display: block;
    margin-bottom: 55px;
    width: 292px;
    height: 302px;
  }


  /*.advantages__item:last-child{
        margin-right: 0;
    }*/

  .advantages__title {
    width: 222px;/*чтобы тексn не разъзжался*/
    text-align: center;
    font-size: 30px;
    font-weight: bold;

    padding: 0;
    margin-right: 0;
    color: var(--black);
  }


  .advantages__description {

    width: 231px;
    margin-right: 0;
    text-align: center;
    font-size: 18px;
  }


  .advantages__image {
    display: none;
  }


  .advantages__phone {
    display: none;
  }
}
