.advantages {

  min-width: 320px;
  background-color: #f2f2f2;


  &__list {


    padding-left: 0;
    padding-right: 0;
    padding-top: 40px;
    padding-bottom: 40px;
  }


  &__item {
    width: 239px;
    margin-bottom: 40px;
    text-align: center;
    margin-right: 0;
  }


  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 24px;
  }

  &__description {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    color: #283645;
  }


  &__image {
    margin: 20px auto;/*центруем*/
    width: 157px;/*рмерв картинки*/
    height: 320px;
  }
}


@media (min-width: @tablet-width) {/*>660px*/


  .advantages {

    /*ширину не задаем*/

    display: flex;
    justify-content: space-between;
  }


  .advantages__list {/*флекс элемент*/
    width: 293px;

    padding-left: 0;
    padding-right: 0;
    order: 1;/*для смены места телефона и списка*/
  }


  .advantages__item {
    text-align: left;
  }


  .advantages__image {/*флекс элемент*/

    width: 268px;/*размеры картинки*/
    height: auto;
    margin: 0;

    order: -1;
    /*margin: 20px auto;центруем*/
  }


  .advantages__phone {
    display: block;
    width: 268px;
    height: 547px;
    margin-left: 0;
    margin-right: 0;
  }
}


@media (min-width: @desktop-width) {
  /*>1200*/

  .container {
    padding-left: 130px;
    padding-right: 130px;
  }


  .advantages {
    width: 940px;
    /*940 = 1200-130(гориз. паддинги)*2 */
  }


  .advantages__list {
    /*флекс элемент*/
    width: 940px;
    /*940 = 1200-130(гориз. паддинги)*2 */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*расстояние между телеофнами по 20 px*/
    flex-wrap: nowrap;
  }


  .advantages__item {
    width: 300px;
    text-align: center;
    margin: 0;
    margin-bottom: 56px;
  }


  .advantages__title {
    width: 231px;/*чтобы тектс не разъзжался*/
    font-size: 30px;
    font-weight: bold;
    margin-right: 0;
    color: var(--black);
  }


  .advantages__description {
    width: 231px;
    font-size: 18px;
  }


  .advantages__image {
    /*флекс элемент*/


    display: none;
    /*width: 268px;/*размеры картинки*/
    /*height: auto;*/


    /*margin: 20px auto;центруем*/
  }


  .advantages__phone {
    display: none;
  }
}
