.bannerform {


  /*min-width: 320px;*/
  /*размеры картинки или пиcать 100% взять от родителя*/
  height: 190px;

  //display: flex;/*чтоб центровать надпись на баннере*/
  //justify-content: center;
  //align-items: center;
  //position: relative;/*тект будем поверх него размещать */
  //background-image: url("../img/back-mobile.jpg");/*back-mobile.jpg*/
  //background-size: cover;
  //background-position: 0 -55px;/*поднимаем фон вверх под шапку*/
  //background-repeat: no-repeat;


  &__title {

    position: static;

    margin-left: 30px;
    margin-right: 30px;
    margin-top: 35px;
    margin-bottom: 30px;
    text-align: center;
    /*z-index: 50;*/
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
    font-family: "Open Sans", "Arial", sans-serif;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }
}


@media (min-width: @tablet-width) {

  //.bannerform {
  // height: 340px;
  // background-position: 0 -175px; /*поднимаем фон вверх под шапку*/
  // }

  .bannerform__title {
    position: static;
    font-size: 50px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 30px;
    margin-top: 35px;
  }
}


@media (min-width: @desktop-width) {

  //.bannerform {
  // height: 284px;
  // background-position: 0 -175px; /*поднимаем фон вверх под шапку*/
  //}

  .bannerform__title {
    position: static;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
