.clock {

  display: none; /*для < 660px  этот блок не отобраажем*/
}


@media (min-width: @tablet-width) {/*>660px*/

  .clock { /*флекбокс*/
    max-width: 660px;/*чтобы резинился блок*/
    /*ширину не задаем*/

    margin-bottom: 90px;


    padding-top: 59px;
    display: flex;

    /*justify-content: space-between;*/
    flex-wrap: nowrap;

    position: relative;/*позицоировать будем круг розовый с цифрой*/
  }


  .clock__icon {/*флекс элемент*/

    display: block;

    background-image: url("../img/icon-timer.svg");
    background-size: cover; /* изображение подстроится под размер контенйра*/

    width: 238px;
    height: 276px;

    flex-grow: 1;/*чтобы круг увеличивался с увеличением ширины экрана*/
    flex-shrink: 0;
    flex-basis: auto;/*тоже самое что и  width*/


    &::before {/*псевдоэлемент- розовый круг*/
      content: "";
      position: absolute;

      top: 110px;
      left: 35px;

      width: 180px;/*размеры круга*/
      height: 180px;

      border: 15px solid #d22856;
      border-radius: 50%;
    }


    &::after {/*для цифры 24*/
      content: "24";
      position: absolute;

      top: 130px;
      left: 80px;

      width: 106px;/*размеры цифры*/

      height: 70px;
      color: #d22856;

      font-size: 96px;
      line-height: 149.5px;
      font-weight: bold;
    }
  }


  /*.clock__digit{

  }*/


  .clock__wrapper {/*флекс элемент*/

    padding-top: 60px;
    padding-left: 70px;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;/*тоже самое чтои  width*/
  }

  .clock__title {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;

    color: var(--black);
    margin-bottom: 20px;
  }

  .clock__text {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  .clock__link {
    display: block;
    color: #d22856;
    text-decoration: underline;
  }
}


@media (min-width: @desktop-width) {/*>1200px*/

  .clock {
    max-width: 1200px;/*чтобы резинился блок*/

    display: flex;

    justify-content: flex-start;
    flex-wrap: nowrap;

    padding-left: 130px;
    padding-right: 130px;

    background-color: #f2f2f2;
    padding-top: 0;
    padding-bottom: 67px;
  }


  .clock__icon {/*флекс элемент*/
    width: 298px;
    height: 345px;

    margin-right: 70px;/*добавила*/
    flex-grow: 0;/*чтобы круг увеличивался с увеличением ширины экрана*/
    flex-shrink: 0;
    flex-basis: auto;/*тоже самое что и  width*/

    &::before {/*псевдоэлемент- розовый круг*/
      content: "";
      position: absolute;

      top: 70px;
      left: 155px;

      width: 221px;/*размеры круга*/
      height: 221px;

      border: 15px solid #d22856;
      border-radius: 50%;
    }

    &::after {
      /*для цифры 24*/
      content: "24";
      position: absolute;

      top: 100px;
      left: 210px;

      width: 131px;
      height: 87px;
      color: #d22856;

      font-size: 120px;
      line-height: 187px;
      font-weight: bold;
    }
  }


  .clock__wrapper {/*флекс элемент*/
    width: 525px;
    padding-top: 95px;
    padding-left: 0;
  }

  .clock__title {
    line-height: 36px;
  }

  .clock__text {
    font-size: 18px;
    line-height: 30px;
  }

  .clock__link {
    font-size: 18px;
    line-height: 30px;
  }
}
