.contacts {


  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0 auto;

  &__text {
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
    color: #d22856;
    font-weight: 300;
  }


  &__questin-text {
    color: #283645;
  }


  &__title {
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
  }
    
  
    
  &__map{
     position: relative;/*иконкку маркера  и белый треугольник  буем позиционироватьт отоноситеьно этого элемента*/
      margin: 0;
      padding: 0;
      line-height: 0;
  }
    
    
  &__map::before{/* псевдоэлемент треугольник белый*/
      content: "";
      position: absolute;
      display: block;
      top: -1px;
      left: 0;
      z-index: 2;
      width: 100%; /*чтобы трреугольник  тянулся вместе с ширной жкрана*/
      height: 62px;
      
      background-image: url("../img/bg-triangle-white-footer.svg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom center; /* по x bottom, по  y- center*/
      
  }
    
    
  &__map-icon{/*иконка маршкера*/
      position: absolute; 
      top: 97px;
      right: 50%;
      transform: translate(50%);
  }
    
    &__map iframe{
        width: 100%; /*чтоб карта тянулась*/
    }
    
}




@media (min-width: @tablet-width) {/*для >660px */

  .contacts__questin-text {
    text-align: center;
    color: #283645;
    font-size: 40px;
    font-weight: 300;
  }


  .contacts__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding-left: 50px;
    padding-right: 50px;
  }

  .contacts__item {
    width: 50%;
    margin: auto;
  }


  .contacts__item:nth-child(3) {
    margin: 0 auto;
    padding-top: 30px;
  }
    
    
  .contacts__map::before{/* псевдоэлемент треугольник белый*/
      content: "";
      position: absolute;
      display: block;
      top: -1px;
      left: 0;
      z-index: 2;
      width: 100%; /*чтобы трреугольник  тянулся вместе с ширной жкрана*/
      height: 50%;
      
      background-image: url("../img/bg-triangle-white-footer.svg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom center; /* по x bottom, по  y- center*/
      
  }
    
   
}






@media (min-width: @desktop-width) {/*>1200px*/

  .contacts__questin-text {
    font-size: 50px;
    padding-left: 340px;
    padding-right: 340px;
    margin-bottom: 70px;
  }

  .contacts__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 148px;
    padding-right: 148px;
  }

  .contacts__item {
    width: auto;/*сбрасываем и делаем щначения по умолчанию*/
    margin: 0;
  }

  .contacts__item:nth-child(1) {
    order: -2;
  }

  .contacts__item:nth-child(2) {
    margin: 0;
    padding-top: 0;
    order: 1;
  }

  .contacts__item:nth-child(3) {

    margin: 0;
    padding-top: 0;
    order: -1;
  }
    
    
  .contacts__map::before{/* псевдоэлемент треугольник белый*/
      content: "";
      position: absolute;
      display: block;
      top: -1px;
      left: 0;
      z-index: 2;
      width: 100%; /*чтобы трреугольник  тянулся вместе с ширной жкрана*/
      height: 100%;
      
      background-image: url("../img/bg-triangle-white-footer.svg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom center; /* по x bottom, по  y- center*/
      
   }
}