.contacts {

  min-width: 237px;/*ширина содржимого*/
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0 auto;

  &__text {
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
    color: #d22856;
  }

  &__questin-text {
    color: #283645;
  }

  &__title {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
  }
}


@media (min-width: @tablet-width) {/*для >660px */
  .contacts {
    display: none;
  }
}


@media (min-width: @desktop-width) {/*>1200px*/
  .contacts {
    display: none;
  }
}
