.main-nav {
  &__toggle {
    /*cbc*/
  }

  &__wrapper {
    width: 320px;
  }


  &__list {
    width: 100%;
    padding-left: 0;
    list-style: none;
    text-transform: uppercase;
    text-align: center;
  }
}
