.page-footer {
  &__wrapper {
    /*display: none; для мобилок не отображаем*/

    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
  }

  &__logo {
    /*width: 147px; ширина содержимого*/
    margin: 0 auto;
    margin-bottom: 30px;
  }

  &__logo img {
    display: block;
    margin: 0 auto;
  }


  &__social {

    width: 178px; /*ширина содержимого*/
    margin: 0 auto;
    margin-bottom: 30px;
  }

  &__copyright {

    width: 168px;/*ширина содержимого*/
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-size: 14px;
    line-height: 18px;
  }
}


@media (min-width: @tablet-width) {/*для >660px;*/


  .page-footer__wrapper {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto; /*тянется по ширине экрана, 660px*/
  }

  .page-footer__logo {
    width: 147px;
    padding: 0;
    margin-bottom: 0;
  }

  .page-footer__social {
    width: 170px;
    padding: 0;
    margin-bottom: 0;
  }

  .page-footer__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 140px;
    padding: 0;
    margin-bottom: 0;
  }
}


@media (min-width: @desktop-width) {/*для >1200*/

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto; /*тянется по ширине экрана, 1200px*/
  }

  .page-footer__logo {/*флекс элемент*/
    width: 147px;
    padding: 0;
    margin-bottom: 0;
  }

  .page-footer__social {/*флекс элемент*/
    width: 170px;
    padding: 0;
    margin-bottom: 0;
  }

  .page-footer__copyright {
    /*флекс элемент*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    padding: 0;
    margin-bottom: 0;
  }

  .copyright__text {
    font-size: 18px;
  }
}
