.page-main {
  width: 100%;
  background-color: #ffffff;

  .offer-information { /*в index.html*/
    width: 100%;
    padding: 40px 55px;
  }

  .offer-information-title {/*в index.html*/
    font-size: 24px;
    margin: 0;
    margin-bottom: 40px;
  }
}
