.page-header {

  /*min-width: 320px;*/

  display: flex;
  flex-direction: column;

  position: relative;
  /*родитель для лого и кнопки бургера и в дектопе для меню */
  background-color: #283645;
  box-shadow: 0 1px 0 0 var(--black);
  font-weight: 300;
  line-height: 1.71;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -80px;
  /*background-size: cover;/*чтобы фон тянулся*/


  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 640px auto; /*какой размер по ширине указывать?*/
  }

  &__headblock {
    /* шапка */
    /*min-width: 320px;/*чтобы шапка тянулась вместе с разрешением  экрана*/
    height: 66px;

    background-color: rgba(0, 0, 0, 0.3);/*rgba(40, 54, 69, 0.3);*/
  }


  &__logo {
    /*лого*/

    height: 50%;
    /*у моб  шапки высота лого */
    position: absolute;

    left: 20px;
    top: 20px;

    &:hover {
      /*при наведении на лого*/
      background-image: url("../img/logotype-white-mobile-hover.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    &:active {
      /*при нажатии на лого*/
      background-image: url("../img/logotype-white-mobile-active.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }


  &__logo-mobile {
    display: block;
  }

  .icon:hover {
    fill: #d22856;
  }

  &__logo-tablet {
    display: none;
  }

  &__logo-desctop {
    display: none;
  }
}


@media (min-width: @tablet-width) {
  /*>660px*/


  .page-header {
    position: relative;
    /*для соц сей и телефона*/

    @media (min-resolution: @retina-dpi),
      (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 2400px auto;
      /*какой размер по ширине указывать?*/
    }
  }


  .page-header__headblock {
    height: 110px;
    /*шапка*/
  }


  .page-header__logo {

    width: 146px;
    /*ширина лого*/
    height: 40px;
    /*высота лого*/
  }


  .page-header__logo-mobile {
    display: none;
  }

  .page-header__logo-tablet {
    display: block;
  }

  .page-header__logo-desctop {
    display: none;
  }
}


@media (min-width: @desktop-width) {

  /*>1200px*/

  .page-header {
    @media (min-resolution: @retina-dpi),
      (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 5120px auto;
      /*какой размер по ширине указывать?*/
    }
  }


  .page-header__headblock {
    height: 110px;
    /*шапка*/
    width: auto;
    /*тянется на всю ширину*/

    padding-left: 130px;
    padding-right: 130px;
  }


  .page-header__logo {

    width: 146px;
    height: 40px;
  }


  .page-header__logo-mobile {
    display: none;
  }

  .page-header__logo-tablet {
    display: none;
  }

  .page-header__logo-desctop {
    display: block;
  }
}
