.page-header {
  min-width: 320px;
  background-color: #000000;
  box-shadow: 0 1px 0 0 var(--black);
  font-weight: 300;
  line-height: 1.71;

  &__headblock { /* шапка */
    width: 320px;
    height: 66px;
    background-color: black;
    opacity: 0.3;
  }

  &__logo {
    width: 75px;/*размеры лого*/
    height: 22px;/*у моб  шапки высота лого */
  }
}

@media (min-width: @tablet-width) {/*>660px*/
  .page-header__headblock {
    height: 109px;/*шапка*/
    width: auto;  /*тянется на всю ширину*/
  }


  .page-header__logo {
    background-image: url("../../img/logotype-white-tablet-svg.svg");
    width: 147px;/*ширина лого*/
    height: 40px;/*высота лого*/
  }
}


@media (min-width: @desktop-width) {/*>1200px*/

  .page-header__headblock {
    height: 110px;/*шапка*/
    width: auto; /*тянется на всю ширину*/
  }


  .page-header__logo {
    background-image: url("../../img/logotype-white-tablet-svg.svg");
    width: 147px;
    height: 40px;
  }
}
