.page-footer {
  min-width: 320px;
  margin: 0 auto;/*центрует*/

  &__wrapper {
    display: none; /*для мобилок не отображаем*/
    min-width: 320px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
  }

  &__logo {
    width: 147px;/*ширина содержимого*/
    padding-left: 87px;
    padding-right: 87px;
    margin-bottom: 30px;
  }

  &__social {
    width: 170px; /*ширина содержимого*/
    padding-left: 75px;
    padding-right: 75px;
    margin-bottom: 30px;
  }

  &__copyright {
    width: 128px;/*ширина содержимого*/
    padding-left: 96px;
    padding-right: 96px;
    font-size: 14px;
    line-height: 18px;
  }
}


@media (min-width: @tablet-width) {/*для >660px;*/

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto; /*тянется по ширине экрана, 660px*/
  }

  .page-footer__logo {
    width: 147px;
    padding: 0;
    margin-bottom: 0;
  }

  .page-footer__social {
    width: 170px;
    padding: 0;
    margin-bottom: 0;
  }

  .page-footer__copyright {
    width: 128px;
    padding: 0;
    margin-bottom: 0;
  }
}


@media (min-width: @desktop-width) {/*для >1200*/

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto; /*тянется по ширине экрана, 1200px*/
  }

  .page-footer__logo {/*флекс элемент*/
    width: 147px;
    padding: 0;
    margin-bottom: 0;
  }

  .page-footer__social {/*флекс элемент*/
    width: 170px;
    padding: 0;
    margin-bottom: 0;
  }

  .page-footer__copyright {/*флекс элемент*/
    width: 160px;
    padding: 0;
    margin-bottom: 0;
  }

  .copyright__text {
    font-size: 18px;
  }
}
