.photosblocks {
  min-width: 320px;

  &__list {
    width: 320px;
  }

  &__item {
    width: 100%;
    background-color: #f2f2f2;
    margin-bottom: 20px;
    /*расстояние между карточками*/
  }

  &__image {
    width: 100%;/*размеры картинки*/
    height: 180px;
    display: block;
    object-fit: cover;
  }

  &__wrap-information {
    padding: 25px 27px;
    line-height: 24px;
  }

  &__author {
    /*mklj*/
  }

  &__time {
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
  }

  &__description {
    font-weight: 400;
    margin-bottom: 20px;
  }

  &__wrap-for-like {
    color: #d22856;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
  }
}

@media (min-width: @tablet-width) {/*для >660px */
  .photosblocks {
    width: 620px;
  }

  .photosblocks__list {
    width: 620px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap; /*можно переностиь флекс элементы*/
  }

  .photosblocks__item {/* флекс элмент-карточка*/
    width: 300px;
    margin-right: 20px;
  }

  .photosblocks__item:nth-child(2n) {/* карточка*/
    margin-right: 0;
  }

  .photosblocks__image {
    width: 300px;/*размеры фотки*/
    height: 300px;
    display: block;
    object-fit: cover;
  }
}

@media (min-width: @desktop-width) {/*для >1200*/
  .photosblocks {
    width: 960px; /*(300*3+20+20)*/
    /*margin: 0 auto;/*центрует*/
    padding-left: 130px;
    padding-right: 130px;
  }

  .photosblocks__list {
    width: 940px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap; /*можно переносить флекс элементы*/
  }

  .photosblocks__item {/* флекс элмент-карточка*/
    width: 300px;
    margin-right: 20px;
    margin-bottom: 60px;
  }
  /*.photosblocks__item:not:nth-child(3n){/* карточка
        margin-right: 20px;
    }*/
  .photosblocks__item:nth-child(3n) {/* карточка*/
    margin-right: 0;
  }

  .photosblocks__item:nth-child(4),
  .photosblocks__item:nth-child(5),
  .photosblocks__item:nth-child(6) {/*какую то формулу надо для последних элементов*/
    margin-bottom: 0;
  }

  .photosblocks__image {
    width: 300px;/*размеры фотки*/
    height: 400px;
    display: block;
    object-fit: cover;
  }
}
