.photosblocks {
  &__wrapper-panorama {
    margin-left: 20px;
    margin-right: 20px;
  }


  &__auth {//флекс элемент
    order: -1;
    margin-bottom: 10px;
  }


  &__panorama-like {//флекс элемент
    //display: none;
    order: 1;
  }


  &__list {
    /*min-width: 320px;*/
    margin-top: 20px;
  }


  &__item {
    box-sizing: border-box;
    margin-bottom: 20px;
    //background-color: #f2f2f2;
    //margin-bottom: 20px;
    /*расстояние между карточками*/
    /*box-sizing: border-box;*/
  }


  &__image {
    width: 100%;/*размеры картинки*/
    height: 180px;
    display: block;
    object-fit: cover;
  }


  &__wrap-information {
    max-height: 303px;

    display: flex;
    flex-direction: column;/*главная ось сверху вниз*/

    padding: 25px 27px;
    line-height: 24px;
    background-color: #f2f2f2;
  }


  &__author {
    font-weight: bold;
  }

  &__time {

    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
  }

  &__description {
    font-weight: 400;
    margin-bottom: 20px;
    max-height: 60px;

    //white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
  }


  &__wrap-for-like {/*флексбокс*/
    display: flex;
    justify-content: flex-start;
    align-items: center;

    color: #d22856;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
  }

  &__like-link {/*флекс элемент*/
    display: block;
    margin-right: 20px;
  }
}


@media (min-width: @tablet-width) {/*для >660px */


  .photosblocks {
    /*min-width: 620px;тогда скролл не появится*/
  }

  .photosblocks__panorama-information {
    display: flex;
    justify-content: space-between;
  }

  .photosblocks__wrapper-panorama {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    //min-height: 0;


    margin-left: 20px;
    margin-right: 20px;
  }

  .photosblocks-panorama {//флекс элемент
    margin-right: 20px;
    flex-grow: 1;
  }

  .photosblocks__description-panorama {//флекс элемент
    order: 1;
    //min-height: 0;
    margin-bottom: 0;
  }

  .photosblocks__wrap-for-like-panorama {
    width: 118px;
  }


  .photosblocks__panorama-like {
    width: 118px;
  }


  .photosblocks__list {/*флексбокс*/

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap; /*можно переностиь флекс элементы*/
    margin-top: 50px;
  }


  .photosblocks__item {/* флекс элмент-карточка*/
    width: 50%; //100% /2=50%
    //margin-right: 20px;
    margin-bottom: 20px;

    &:nth-child(even) {
      padding-left: 10px;
    }

    &:nth-child(odd) {
      padding-right: 10px;
    }
  }

  .photosblocks__wrap-for-like {/*флексбокс*/
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .photosblocks__like-link {/*флекс элемент, иконка лайка*/
    margin-right: 0;
    order: 1;
  }


  .photosblocks__like-count {/*флекс элемент*/

    order: -1;/*меняем местами флекс элементы*/
  }
}


@media (min-width: @desktop-width) {/*для >960*/

  .photosblocks {
    /*max-width: 940px;/* 300+300+20*2 тогда скролл не появится*/
    margin: 0 auto;
    padding: 0;
    padding-left: 10px; //130px;
    padding-right: 10px; //130px;
  }

  .photosblocks__wrapper-panorama {

    margin: 0 auto;
    max-width: 880px;
  }

  .photosblocks__list {
    /*(300*3+20+20)*/

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap; /*можно переносить флекс элементы*/
  }


  .photosblocks__item {/* флекс элмент-карточка*/
    width: 33.3%; //100/3=33

    margin-bottom: 60px;

    &:nth-child(3n+2) {
      padding: 0 10px;
    }

    &:nth-child(3n) {
      padding-left: 10px;
      padding-right: 0;
    }

    &:nth-child(3n+1) {
      padding-right: 10px;
      padding-left: 0;
    }
  }

  .photosblocks__item:last-child,
  .photosblocks__item:nth-child(4),
  .photosblocks__item:nth-child(5), {
    margin-bottom: 0;
  }

  .photosblocks__image {
    //width: 300px;/*размеры фотки*/
    height: 400px;
    display: block;
    object-fit: cover;
  }
}
