.reviews {


  padding-top: 0;
  padding-bottom: 90px;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;/*центрует*/

  /*&__list {

  }*/

  &__item {

    padding-top: 50px;
    padding-left: 20px;
    /*padding-right: 20px;
    padding-bottom: 50px;*/
    text-align: center;
  }

  &__author {
    font-size: 18px;
    line-height: 1.67;
    margin: 0;
    margin-bottom: 20px;
  }

  &__description {
    width: 100%;
    font-weight: normal;
    line-height: 2.14;
    text-align: center;
  }
}

/*@media (min-width: @desktop-width) {
}*/
