.reviews {

  width: 320px;
  padding-top: 50px;
  padding-bottom: 90px;

  &__list {
    width: 100%;/*каки у родителя*/
  }

  &__item {
    width: 276px;/*ширина содержимого*/
    padding-top: 50px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 50px;
    text-align: center;
  }

  &__author {
    font-size: 18px;
    line-height: 1.67;
    margin: 0;
    margin-bottom: 20px;
  }

  &__description {
    width: 100%;
    font-weight: normal;
    line-height: 2.14;
    text-align: center;
  }
}

/*@media (min-width: @desktop-width) {
}*/
